:root {
  --rs-color: #b41923;
  --rs-color-blue: #0f161e;
  --rs-max-width: 1300px;
  --rs-article-width: 33.333%;
  --rs-title: #000;
  --rs-red-border-width: 4px;
  --rs-font: "Graphik";
  --rs-h3-big: 45px;
  --rs-h3-medium: 28px;
  --rs-h3-small: 18px;
  --rs-p-size: 14px;
  --rs-font-weight: 700;
}
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: var(--rs-font);
}

@font-face {
  font-family: "Graphik";
  src: url("Graphik-Regular.woff2") format("woff2"),
    url("Graphik-Regular.woff") format("woff"),
    url("Graphik-Regular.ttf") format("truetype"),
    url("Graphik-Regular.svg#Graphik-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
footer {
  margin-top: 40px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--rs-font);
}
.footer-redtitlebar {
  display: flex;
  margin-left: -30px;
}
.footer-content-by-text {
  margin-top: 25px;
  color: #d32531;
  font-size: 18px;
  padding: 5px 5px 5px 5px;
  font-weight: bolder;
  margin-left: 4px;
}
.footer-rs-culture-council-text {
  background-color: #d32531;
  color: white;
  margin-left: 10px;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 23px;
  font-weight: bolder;
  font-size: 16px;
}
.footer-whats-this-text {
  color: gray;
  text-decoration: underline;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom:1px;
}
.footer-rs-culture-hr {
  margin-top: -20px;
  color: #d32531;
  border: 2px solid #d32531;
  margin-left: -25px;
  width: 100%;
}
.footer-rs-culture-images-size {
  width: 300px;
  height: 210px;
}
.footer-rs-culture-newsbar {
  display: flex;
  background-color: #f4f4f7;
  width: 100%;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 45px;
  margin-left: -25px;
  margin-top: -8px;
  margin-bottom: 100px;
}
.footer-rs-culture-news {
  display: flex;
  flex-direction: column;
  width: 290px;
  font-size: 18.5px;
  font-weight: bolder;
  margin-right: 40px;
}
.footer-rs-culture-newstitles {
  padding-bottom: 10px;
}
.footer-rs-culture-readmore {
  display: flex;
  justify-content: left;
  color: #b41923;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.footer-rs-culture-readmore-latest {
  display: flex;
  justify-content: left;
  color: #b41923;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
}
.footer-newswire-hr {
  margin-top: -20px;
  color: #d32531;
  border: 2px solid #d32531;
  margin-left: -25px;
  width: 100%;
}
.footer-newswire-titlebar {
  display: flex;
}
.footer-newswire-title {
  font-size: 50px;
  margin-left: -28px;
  margin-top: -5px;
}
.footer-newswire-logopmc {
  width: 120px;
  height: 50px;
  margin-left: 75.1%;
  margin-top: -7px;
}
.footer-newswire-newsbar {
  display: flex;
  padding-left: 22px;
  padding-bottom: 45px;
  margin-left: -46px;
  margin-top: -50px;
}
.footer-newswire-news {
  display: flex;
  flex-direction: column;
  width: 290px;
  font-size: 18px;
  font-weight: bolder;
  margin-right: -16px;
}
.footer-newswire-images-size {
  margin-top: 30px;
  width: 250px;
  height: 145px;
}
.footer-newswire-categories {
  display: flex;
  color: #b41923;
  font-size: 14px;
}
.footer-newswire-newstitles {
  margin-top: -1px;
  width: 250px;
  font-size: 20px;
  font-weight: bold;
}
.footer-endarea {
  background-color:black;
  width:159%;
  height:408px;
  margin-left:-38.4%;
}
.footer-endarea-content {
  margin-left:20.7%;
}
.footer-endarea-image-size-position {
  padding-top:22px;
  padding-bottom:21px;
  margin-left:47px;
}
.footer-endarea-categories-content {
  margin-top:-400px;
  margin-left:330px;
  display:flex;
  flex-direction:column;
  width:390px;
  height:210px;
}
.footer-endarea-categories-title {
  padding-top:12px;
  margin-top:1px;
  margin-left:38px;
  color:white;
  font-weight:bold;
}
.footer-endarea-categories-left {
  margin-top:-5px;
}
.footer-endarea-categories-right {
  margin-top:-160.4px;
  margin-left:160px;
}
.footer-endarea-categories-links {
  text-decoration:none;
  color:white;
  font-weight:bold;
  margin-bottom:9px;
  list-style:none;
  width:300px;
}
.footer-endarea-legal-content {
  margin-top:-200px;
  margin-left:680px;
  display:flex;
  flex-direction:column;
  border-left:1.3px solid #6f6f6f;
  border-right:1.3px solid #6f6f6f;
  width:280px;
  height:195px;
}
.footer-endarea-legal-title {
  margin-top:3px;
  margin-left:40px;
  color:white;
  margin-bottom:11px;
}
.footer-endarea-legal-links {
  text-decoration:none;
  color:white;
  font-weight:bold;
  margin-bottom:9px;
  list-style:none;
  width:300px;
}
.footer-endarea-connectwithus-content {
  margin-top:-200px;
  margin-left:950px;
  border-right:1.3px solid #6f6f6f;
  width:240px;
  height:200px;
}
.footer-endarea-connectwithus-title {
  margin-top:8px;
  margin-left:40px;
  color:white;
}
.footer-endarea-connectwithus {
  margin-top:-10px;
}
.footer-endarea-connectwithus-icons {
  padding-top:4px;
}
.footer-endarea-connectwithus-list {
  margin-bottom:13px;
}
.footer-endarea-connectwithus-links {
  position:relative;
  text-decoration:none;
  color:white;
  font-weight:bold;
  list-style:none;
  width:300px;
  margin-left:32px;
  top:-97px;
}
.footer-endarea-newsletter {
  display:flex;
  margin-top:8px;
  margin-left:21.6%;
  border-top:1.3px solid #6f6f6f;
  border-bottom:1.3px solid #6f6f6f;
  width:1040px;
}
.footer-endarea-newsletter-title {
  color:white;
  font-weight:bolder;
}
.footer-endarea-newsletter-input {
  margin-left:80px;
  margin-top:17px;
  width:470px;
  height:45px;
  padding-left:20px;
  font-size:16px;
  font-weight:bold;
}
.footer-endarea-newsletter-submit {
  margin-left:22px;
  margin-top:16px;
  width:170px;
  height:45px;
  background-color:black;
  color:white;
  font-size:16px;
  font-weight:bold;
  border:1px gray solid;

}
.footer-endarea-tiparea {
  display:flex;
  margin-left:366px;
}
.footer-endarea-tiparea-title {
  margin-top:28px;
  margin-right:25px;
  color:white;
  font-weight:bolder;
  font-size:34px;
}
.footer-endarea-tiparea-paragraph {
  margin-top:30px;
  color:white;
  font-style:italic;
}
.footer-endarea-tiparea-submit {
  margin-left:70px;
  margin-top:20px;
  width:197px;
  height:45px;
  background-color:black;
  color:white;
  font-size:16px;
  font-weight:bold;
  border:1px gray solid;
}
.footer-endarea-rollingstonetext {
  position:relative;
  left:72.4%;
  top:-72px;
}
.footer-copyrightarea {
  margin-top:8px;
  display:flex;
}
.footer-copyrightarea-pmclogo {
  margin-left:10%;
  width:180px;
  height:60px;
}
.footer-copyrightarea-paragraph {
  margin-top:12px;
  margin-left:20px;
  color:gray;
}
.footer-copyrightarea-fake-js-button {
  margin-left:26%;
  width:214px;
  height:43px;
}
@media screen and (max-width: 768px) {
.footer-redtitlebar {
  display: flex;
  flex-direction:column;
  padding-left: 20px;
}
.footer-rs-culture-council-text {
  margin-left: -1px;
  margin-top:-20px;
  margin-bottom:-20px;
  padding-bottom:4px;
}
.footer-rs-culture-newsbar {
  display: flex;
  flex-direction:column;
  padding-left: 78px;
}
.footer-newswire-titlebar {
  margin-left:20px;
}
.footer-newswire-title {
  font-size: 50px;
  margin-left: -28px;
  margin-top: -5px;
}
.footer-newswire-logopmc {
  width: 120px;
  height: 50px;
  margin-top: -7px;
  margin-left:80px;
}
.footer-newswire-newsbar {
  display: flex;
  flex-direction:column;
  padding-left: 22px;
  padding-bottom: 45px;
  margin-left: 50px;
  margin-top: -15px;
}
.footer-endarea {
  height:1700px;
}
.footer-endarea-image-size-position {
  padding-left:75px;
}
.footer-endarea-categories-content {
  margin-top:-10px;
  margin-left:130px;
}
.footer-endarea-categories-right {
  margin-top:-10.4px;
  margin-left:0px;
}
.footer-endarea-legal-content {
  margin-top:150px;
  margin-left:160px;
  display:flex;
  flex-direction:column;
  border-top:1.3px solid #6f6f6f;
  border-left:0px solid #6f6f6f;
  border-right:0px solid #6f6f6f;
  width:190px;
  height:195px;
  border-bottom:1.3px solid #6f6f6f;
}
.footer-endarea-legal-title {
  margin-top:16px;
  margin-left:10px;
}
.footer-endarea-legal-links {
  margin-top:-3px;
  margin-left:-15px;
}
.footer-endarea-connectwithus-content {
  margin-top:20px;
  margin-left:130px;
  border-right:0px solid #6f6f6f;
  }
.footer-endarea-newsletter {
  display:flex;
  flex-direction:column;
  margin-top:-11.5px;
  margin-left:3%;
  width:1040px;
}
.footer-endarea-newsletter-title {
  color:white;
  font-weight:bolder;
  margin-left:75px;
}
.footer-endarea-newsletter-input {
  margin-left:52px;
  margin-top:5px;
  width:350px;
}
.footer-endarea-newsletter-submit {
  margin-left:135px;
  margin-top:16px;
  margin-bottom:15px;
}
.footer-endarea-tiparea {
  display:flex;
  flex-direction:column;
  margin-left:0px;
}
.footer-endarea-tiparea-title {
  margin-top:28px;
  margin-left:168px;
}
.footer-endarea-tiparea-paragraph {
  margin-top:0px;
  margin-left:80px;
  color:white;
  font-style:italic;
}
.footer-endarea-tiparea-submit {
  margin-left:163px;
  margin-top:10px;
}
.footer-endarea-rollingstonetext {
  position:relative;
  left:13%;
  top:40px;
}
.footer-copyrightarea {
  margin-left:-15px;
  display:flex;
  flex-direction:column;
}
.footer-copyrightarea-pmclogo {
  margin-left:170px;
  width:100px;
  height:60px;
}
.footer-copyrightarea-fake-js-button {
  margin-left:27%;
}
}


