/* FOGLIO STILE COMUNE */
:root {
	--rs-color: #b41923;
	--rs-color-blue: #0f161e;
	--rs-max-width: 1300px;
	--rs-article-width: 33.333%;
	--rs-title: #000;
	--rs-red-border-width: 4px;
	--rs-font: 'Graphik';
	--rs-h3-big: 45px;
	--rs-h3-medium: 28px;
	--rs-h3-small: 18px;
	--rs-p-size: 14px;
	--rs-font-weight: 700;
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    font-family:var(--rs-font);
}

@font-face {
    font-family: 'Graphik';
    src:url('Graphik-Regular.woff2') format('woff2'),
        url('Graphik-Regular.woff') format('woff'),
        url('Graphik-Regular.ttf') format('truetype'),
        url('Graphik-Regular.svg#Graphik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*FOGLIO STILE MARCO*/

a{
    text-decoration: none;
}

.container-videogallery {
    background-color: var(--rs-color-blue);
    margin: 0 auto;
    width: 1260px;
    height: 712px;
    max-width: var(--rs-max-width);
    border-top: var(--rs-red-border-width) solid var(--rs-color);
    display: flex;
    flex-direction: column;
    color: white;
}

.c-videogallery-main {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(154, 152, 152, 0.21);
    padding-bottom: 15px;
}

.c-video-content {
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 371px;
}

.video-header {
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    font-size: var(--rs-h3-small);
}

.video-header h1 {
    font-weight: bold;
}

.video-header > h6 > a {
    color: var(--rs-color);
    padding-left: 12px;
    display: block;
    padding-top: 10px;
}

.video-text {
    padding-top: 40px;
    padding-left: 25px;
}

.video-text h5 {
    text-decoration: underline solid var(--rs-color) 2px;
    font-size: 12px;
    padding-left: 5px;
    font-weight: bold;
}

.video-text > h3 > a {
    font-size: 36px;
    color: white;
    font-weight: bold;
}

.video-text > p {
    font-size: 18px;
    padding-top: 18px;
    padding-left: 4px;
    font-weight: bold;
}

.c-video-frame {
    padding-top: 30px;
    padding-left: 14px;
}

.c-video-frame iframe {
    border: 1px solid var(--rs-color);
}

.c-videogallery-slideshow {
    padding: 14px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    overflow: hidden;
}

.c-videogallery-slideshow h3 {
    font-size:14px;
    color: white;
    margin: 5px;
}

.video-item {
    height: 200px;
    padding-top: 8px;
}

.video-item img:hover:not(.video-active) {
    border: 1px solid white;
    transition-duration: 0.2s;
}

.video-active, .video-active:hover {
    outline: 2px solid var(--rs-color);
    opacity: 0.4;
}

.now-playing {
    position: relative;
}

.now-playing h1 {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 60px;
    left: 75px;
    border: 2px solid var(--rs-color);
    padding: 5px 8px 1px;
}

.container-photogallery {
    margin: 0 auto;
    width: 1260px;
    height: 712px;
    max-width: var(--rs-max-width);
    border-top: var(--rs-red-border-width) solid var(--rs-color);
    display: flex;
    flex-direction: column;
}

.photogallery-header{
    font-weight:500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 61.5px;
}

.photogallery-header-title {
    display: flex;
    flex-direction: row;
}

.photogallery-header-title > h6 > a {
    font-size: 12px;
    color: var(--rs-color);
    padding-left: 12px;
    display: block;
    padding-top: 18px;
    font-weight: bolder;
}

.photogallery-header-title > h6 {
    font-weight: bold;
}

.photogallery-header-title > h1 {
    font-weight: var(--rs-font-weight);
    font-size:38px;
}


.photogallery-header > h6 > a {
    color: rgb(106, 106, 106);
    font-size: 12px;
    border: 2px solid rgb(156, 156, 156);
    border-radius: 10px;
    margin-right: 20px;
    padding: 4px 8px;
    height: 14px;
    font-weight: bold;
    background-color:rgba(108, 107, 107, 0.274);
}

.photogallery-header > h6 > a:hover {
    color: rgba(113, 113, 113, 0.727);
    border-color: rgba(113, 113, 113, 0.536);
    background-color:rgba(131, 130, 130, 0.216);
}

.c-photogallery-slideshow {
    overflow: hidden;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

.slideshow-photoframe-1, .slideshow-photoframe-2 {
    position: relative;
}

.slideshow-photoframe-1 > a > img:hover, .slideshow-photoframe-2 > a > img:hover {
    border: 4px solid var(--rs-color);
    transition-duration: 0.2s;
}

.photo-icon-1, .photo-icon-2 {
    color: white;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 26px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.679);
    padding: 8px;
    border-radius: 8px;
}

.photo-icon-1 span, .photo-icon-2 span {
    padding: 0 4px;
}

.photo-text-1, .photo-text-2 {
    color: white;
    font-weight: bolder;
    width: 550px;
    position: absolute;
    bottom: 75px;
    left: 18px;
    text-shadow: 4px 4px 8px #000000, 4px 4px 8px #000000, 4px 4px 8px #000000;
}

.photo-text-1 h3, .photo-text-2 h3 {
    font-size: 34px;
    font-weight: 90px;
}

.photo-text-1 p, .photo-text-2 p {
    font-size: 19px;
    font-weight: 4px;
}

.mini-photo-box {
    position: relative;
    bottom: 100px;
    left: 565px;
    width: 200px; 
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.mini-photo-box img:hover {
    border: 2px solid white;
    transition-duration: 0.2s;
}




