:root {
	--rs-color:#b41923;
	--rs-color-blue:#0f161e;
	--rs-max-width:1300px;
	--rs-article-width:33.333%;
	--rs-title:#000;
	--rs-red-border-width:4px;
	--rs-font:'Graphik';
	--rs-h3-big:45px;
	--rs-h3-medium:28px;
	--rs-h3-small:18px;
	--rs-p-size:14px;
	--rs-font-weight:700;
}
* {
	margin:0;
	padding:0;
    box-sizing:border-box;
    list-style-type:none;
    text-decoration:none;
    color:black;
	
	
}

a:hover {color:var(--rs-color) !important;opacity:0.7;}
a, a:hover {-webkit-transition:all 0.4s 0s ease;
		-moz-transition:all 0.4s 0s ease;
		-o-transition:all 0.4s 0s ease;
		transition:all 0.4s 0s ease;}
@font-face {
    font-family:'Graphik';
    src:url('Graphik-Regular.woff2') format('woff2'),
        url('Graphik-Regular.woff') format('woff'),
        url('Graphik-Regular.ttf') format('truetype'),
        url('Graphik-Regular.svg#Graphik-Regular') format('svg');
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

/* RICCARDO PIRRELLO NAV0HEAD1 */
@media screen and (min-width:959px) {
	.header1-login-nav, .nav0-logo-div {
		display: none;
	}
	
	
		.media-hamburger__icon {
		display: none;
	}
	
	.l-header__wrap {
		width: 100%;
		max-width: 100%;
		height: 3.1875rem;
		line-height: 24px;
	}
	
	.l-header__wrap {
		height: 9.5rem;
	}
	
	
	.l-header__wrap {
	
		z-index: 20001;
		
		left: 50%;
		transform: translateX(-50%);
		background-color: #fff;
		box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .2);
	}
	
	.l-header__wrap:first-child {
		height: 9.5rem;
	}
	
	
	.l-header {
		position: relative;
		width: 100%;
		max-width: 100%;
		height: 3.1875rem;
	}
	
	.l-header {
		height: 9.5rem;
	}
	
	
	.l-page {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
	}
	
	
	
	
	.l-header__content {
		height: 9.5rem;
	}
	
	
	.l-header__content {
		margin: 0 auto;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		width: 100%;
		min-width: 20rem;
		max-width: 81.25rem;
		position: relative;
		height: 100%;
	}
	
	
	.l-header__content {
		transition: transform .24s cubic-bezier(.215, .61, .355, 1);
	}
	
	
	*,
	:after,
	:before {
		box-sizing: border-box;
	}
	
	
	
	
	
	.l-header__branding {
		display: block;
		margin-bottom: -.5rem;
		width: 100%;
		padding: .5rem;
		text-align: center;
	}
	
	.l-header__branding {
		width: auto;
		margin: 0 auto;
		padding: .8125rem;
	}
	
	
	.l-header__block {
		display: flex;
		align-items: center;
		justify-content: center;
	
	}
	
	
	.t-semibold {
		font-family: Graphik, sans-serif;
		font-weight: 600;
	}
	
	
	.l-header__block {
		position: absolute;
		top: 0;
		left: 1.25rem;
		height: 7rem;
		font-size: .9375rem;
		transition: opacity .24s cubic-bezier(.215, .61, .355, 1), visibility .24s cubic-bezier(.215, .61, .355, 1);
	}
	
	.search-icon-head path{
		fill: black;
	}
	.search-icon-head path:hover {
		fill:red;
		transition: 0.3s;
	}
	
	
	.t-semibold {
		font-family: Graphik Bold Subset, Graphik, Tahoma, Verdana, Segoe, sans-serif;
		font-weight: 700;
		letter-spacing: -.0285em;
	}
	
	
	.l-header__block--right {
		left: auto;
		right: 1.875rem;
	}
	
	
	.l-header__nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		font-size: .875rem;
	}
	
	.l-header__nav {
		flex: 0 0 auto;
		order: 10;
		width: 100%;
		height: 2.5rem;
	}
	
	.l-header__nav:after,
	.l-header__nav:before {
		content: "";
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 100vw;
		height: 1px;
		background-color: #dddee4;
	}
	
	.l-header__nav:before {
		top: -1px;
	}
	
	.l-header__nav:after {
		bottom: 0;
	}
	
	
	.l-header__content * a {
		
		transition: color .24s cubic-bezier(.215, .61, .355, 1);
		text-decoration: none;
	}
	
	
	.l-header__link {
		display: block;
		display: block;
		display: block;
		align-items: center;
		justify-content: center;
		color: #d32531;
		padding: 0 1.25rem;
		font-size: 1rem;
	}
	
	
	.l-header__tip-link {
		color: #000;
		padding-top: .3125rem;
		padding-bottom: .1125rem;
	}
	
	
	.l-header__link:hover {
		color: #000;
	}
	
	
	.c-cover {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
	
		height: auto;
	}
	
	.c-cover {
		padding: .625rem 0 .625rem .3125rem;
	}
	
	
	.l-header__toggle {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #000;
	}
	
	.l-header__toggle {
		padding: .3125rem 1.3125rem;
	}
	
	
	.l-header__toggle {
		margin-top: -.3125rem;
		max-height: 1.875rem;
		padding: 0;
	}
	
	
	.l-header__toggle:hover {
		color: #d32531;
	}
	
	
	.l-header__toggle--close {
		display: none;
	}
	
	
	.l-header__menu {
	
		margin: 0;
		padding: 0;
	}
	
	
	.l-header__menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;
		margin-top: -.3125rem;
	}
	
	
	
	
	.l-header__logo {
		width: 29.5625rem;
		height: 5.3125rem;
	}
	
	
	
	
	
	
	
	
	.pmc_subscription_section {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	
	
	.l-header__content * button {
		
		border: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font: inherit;
		-webkit-font-smoothing: inherit;
		letter-spacing: inherit;
		background: none;
		cursor: pointer;
		margin: 0;
		padding: 0;
	}
	
	
	.c-hamburger {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 .9375rem;
		color: #000;
		transition: color .24s cubic-bezier(.215, .61, .355, 1);
	}
	
	.c-hamburger {
		padding: .1875rem .625rem;
		color: #000;
	}
	
	.c-hamburger:hover {
		color: #d32531;
	}
	
	
	.c-hamburger:hover {
		color: #d32531;
		outline: none;
	}
	
	
	.c-close-button {
		position: relative;
		display: block;
		width: 2.25rem;
		height: 2.25rem;
		border-radius: 99%;
		background-color: #d32531;
		box-shadow: 0 .125rem .25rem 0 rgba(0, 0, 0, .2);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	
	.c-close-button {
		width: 3.125rem;
		height: 3.125rem;
	}
	
	
	.c-close-button:after,
	.c-close-button:before {
		content: "";
		position: absolute;
		top: calc(50% - 1px);
		left: .5rem;
		width: 1.25rem;
		height: 1px;
		transform: rotate(45deg);
		transition: transform .6s cubic-bezier(0, 0, .2, 1);
		background-color: #fff;
	}
	
	.c-close-button:after,
	.c-close-button:before {
		left: .6875rem;
		width: 1.8125rem;
		height: .125rem;
	}
	
	
	.c-close-button:after {
		transform: rotate(-45deg);
	}
	
	
	.c-close-button:hover {
		outline: none;
	}
	
	
	.c-close-button:focus:after,
	.c-close-button:focus:before,
	.c-close-button:hover:after,
	.c-close-button:hover:before {
		transform: rotate(1turn);
	}
	
	
	.l-header__content * li {
		margin: 0;
		padding: 0;
	}
	
	
	.c-cover__login-link {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #000;
	}
	
	.c-cover__login-link {
		padding: .3125rem .95rem .1125rem;
	}
	
	.c-cover__login-link.pmc-rs-subscription-login-link {
		padding: .3125rem 1.75rem .1125rem;
	}
	
	
	.c-cover__login-link:hover {
		color: #d32531;
	}
	
	
	.c-cover__cta {
		-ms-grid-row-align: center;
		align-self: center;
		padding: 0 1.25rem;
		color: #d32531;
		font-size: 1rem;
	}
	
	.c-cover__subs-link {
		background: #d32531;
		color: #fff;
		padding: .3125rem 1.25rem;
		border-radius: .125rem;
		font-size: .75rem;
		font-weight: 700;
		text-transform: uppercase;
		width: 7.8125rem;
		letter-spacing: .5px;
		line-height: 1.25rem;
		text-align: center;
	}
	
	
	.c-cover__cta:hover {
		color: #000;
	}
	
	.c-cover__subs-link:hover {
		background: #b41923;
		color: #fff;
	}
	
	
	.c-hamburger__icon {
		display: block;
		fill: currentColor;
		width: 1.375rem;
		height: 2rem;
	}
	
	
	
	
	.c-hamburger__label {
		margin-left: .3125rem;
	
	}
	
	
	.l-header__menu-link {
		padding: .3125rem 1.3125rem;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #000;
		white-space: nowrap;
		margin-right: 10px;
	}
	
	.l-header__menu-link:hover {
		color: #d32531;
	}
	
	
	.c-icon {
	
		display: flex;
		align-items: center;
		justify-content: center;
		padding: .3125rem;
		line-height: 0;
	}
	
	
	.c-icon--rs-pro {
		padding: 0 .3125rem 0 0;
	}
	
	
	.c-icon svg {
		width: .9375rem;
		height: .9375rem;
		fill: #000;
	}
	
	
	.c-icon--rs-pro svg {
		width: 1.3125rem;
		height: 1.3125rem;
		fill: #d32531;
	}
	
	
	
	}
	
	:root {
		--rs-color: #b41923;
		--rs-color-blue: #0f161e;
		--rs-max-width: 1300px;
		--rs-article-width: 33.333%;
		--rs-title: #000;
		--rs-red-border-width: 4px;
		--rs-font: 'Graphik';
		--rs-h3-big: 45px;
		--rs-h3-medium: 28px;
		--rs-h3-small: 18px;
		--rs-p-size: 14px;
		--rs-font-weight: 700;
		--rs-conav0-lor-logo: #d32531
	}
	@media screen and (max-width:959px) {
		.c-hamburger__icon {
			width: 1.25rem;
			height: 1.0625rem;
		}
		.l-header__nav, .l-header__block, .l-header__branding {
			display: none;
		}
		.nav-header1 {
			position: sticky;
			top: 0;
		}
	.nav-header1 {
		width: 100vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: .5rem;
		background-color: #fff;
		overflow: hidden;
		height: 51px;
	}
	.nav0-subscribe {
		display: block;
		font-family: GraphikBold;
		letter-spacing: -.0285em;
		color: black;
		flex-shrink: 2;
		font-size: .75rem;
	}
	.nav0-logo {
		display: block;
		width: 11.125rem;
		fill: #d32531;
		height: 2rem;
		top: 1px;
		margin: auto;
	}
	.nav0-logo-div {
		height: 100%;
		
	
	
	
	
	
	}
	}
	
	
	/* NAV0 */
	
	@media screen and (min-width:959px) {
	.nav0-feature {
		width: 100%;
	min-height: 100vh;
		background-color: black;
		line-height: 24px;
	}
	.nav0-login , .nav0-close-button-media-query {
		display: none;
	}
	.nav0-wrapper {
		display: flex;
		flex-flow: column nowrap;
		top: 0;
		width: 100%;
		height: inherit;
		max-width: 62.5rem;
		margin: 0 auto;
		padding: 0 1.25rem;
		font-family: GraphikBold;
	}
	
	.nav0-section-socials,
	.nav0-footer,
	.nav0-nav {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #303030;
		max-width: 62.5rem;
	}
	
	.nav0-wrapper * a {
		color: #fff;
		text-decoration: none;
	}
	
	
	
	.nav0-nav {
		padding: .875rem 0 .25rem 0
	}
	
	.nav0-nav-logo {
		width: 18.75rem;
		height: 3.4375rem;
		fill: #d32531;
		flex: 1;
	}
	.nav0-search-and-login-div {
		display: flex;
		flex: 2;
	}
	.nav0-nav-search {
		margin-left: 1.8rem;
		margin-bottom: .6rem;
		flex: 1 0 auto;
		height: 2.75rem;
		padding-right: .6rem;
		border: transparent;
	
	}
	
	.nav0-nav-search form {
		height: inherit;
	}
	
	input[data-search="search"] {
		height: 100%;
		padding-left: 2.8125rem;
		padding-right: .625rem;
		padding-top: .125rem;
		width: 100%;
		border-radius: 5px;
		box-shadow: inset 0 .1875rem .375rem 0 rgba(0, 0, 0, .5);
		outline: none;
	}
	
	.nav0-nav-label-search-icon {
		padding: 0;
		width: 100%;
		height: 100%;
		position: relative
	}
	
	 .nav0-nav-label-search-icon:before {
		content: "";
		position: absolute;
		left: 15px;
		top: 0;
		bottom: 0;
		width: 20px;
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center/contain no-repeat
	}
	
	.nav0-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-row-gap: 3rem;
		grid-column-gap: 2rem;
		margin-top: 1rem;
		margin-bottom: -.3rem;
	}
	
	.nav0-grid-dropdown {
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		padding-top: .4rem
	}
	
	.nav0-grid-dropdown>a:after {
		content: "";
		display: block;
		position: relative;
		left: 0;
		top: 10px;
		width: 100%;
		height: 1px;
		background-image: linear-gradient(90deg, #d32531, rgba(211, 37, 49, 0));
		background-size: 100% 5px
	}
	
	.nav0-grid-dropdown ul {
		padding: 0;
		margin: 0;
		list-style-type: none
	}
	
	.nav0-grid-dropdown>a {
		position: relative;
		width: 100%;
		margin-bottom: .3125rem;
		padding: 0 0 .425rem;
		font-size: 1.75rem;
		font-family: GraphikBold;
	
	
	}
	
	.nav0-grid-dropdown>ul li a:hover {
		color: #d32531
	}
	
	.nav0-grid-dropdown>ul li a {
		color: #dddee4;
		font-size: .9375rem;
		letter-spacing: -.0285em;
		font-weight: 100;
	}
	
	.nav0-grid-bottom-side {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		border-bottom: 1px solid #303030
	}
	
	.nav0-grid-bottom-side div {
		display: flex;
		display: block;
		position: absolute;
		z-index: 0
	}
	
	.nav0-grid-bottom-side img {
		display: block;
		width: 5.875rem;
		margin: 1rem;
		transform: rotate(6deg);
		box-shadow: 0 .125rem .25rem 0 rgba(0, 0, 0, .5);
		transition: transform .2s cubic-bezier(.6, -.28, .74, .05);
		margin-bottom: -20px;
		z-index: 1
	}
	
	.nav0-grid-bottom-side a {
		margin-right: 7rem;
		line-height: 1.25rem;
		padding: 0 1.25rem;
		color: #d32531;
		font-size: .9rem;
		align-self: flex-end;
		
		font-family: "GraphikBold";
	
	}
	
	.nav0-grid-bottom-side a:hover {
		color: #fff;
		transition: .2s
	}
	
	.nav0-section-socials {
		z-index: 2;
		background-color: #000;
		white-space: nowrap;
		color: white;
		height: 70px;
	}
	
	.nav0-section-socials-subscribe {
		display: flex;
		flex-flow: row nowrap;
		align-items: center
	}
	
	.nav0-section-socials-subscribe p,
	.nav0-section-socials p {
		font-size: 1.25rem;
		font-weight: bolder;
		color: white;
	}
	
	.nav0-section-socials-subscribe ul {
		display: none
	}
	
	.nav0-container-socials-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		
	}
	
	.nav0-container-socials-icon div {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 .5em;
		cursor: pointer;
		border-radius: 10px;
		color: white;
	}
	
	.nav0-section-socials-subscribe form div {
		display: flex;
		align-items: stretch;
		border-radius: 5px;
		height: 2.5rem;
		box-shadow: inset 0 .1875rem .375rem 0 rgba(0, 0, 0, .5)
	}
	
	input[data-mail="Youremail"] {
		margin-left: 1rem;
		padding-left: .8125rem;
		padding-right: .625rem;
		padding-top: .125rem;
		line-height: 1.5px;
		font-weight: 700;
		outline: none;
	}
	
	#sign-up-btn {
		margin: 0;
		border-radius: 0 .3125rem .3125rem 0;
		color: #fff;
		border: none;
		background-color: #d32531;
		padding: 0 1.25rem;
		font-size: .75rem;
		letter-spacing: .01em;
		text-transform: uppercase;
		font-weight: 700;
	}
	
	.nav0-footer {
		font-size: 11px;
		overflow: hidden;
		justify-content: center;
		padding: .56rem 0;
		border-bottom: transparent;
	}
	
	.nav0-footer ul {
		display: flex;
		text-transform: uppercase;
		flex: 2 1 auto;
		align-items: center;
		list-style-type: none
	}
	
	.nav0-footer ul li {
		padding: 0 5px;
		line-height: 1rem;
		white-space: nowrap;
		font-size: .75rem;
		font-weight: 400;
		font-family: "Graphik";
		color: rgb(221, 222, 228);
	}
	
	.nav0-footer p {
		text-transform: uppercase;
		flex: 2 1 auto;
		white-space: nowrap;
		margin-left: 1%;
		line-height: .6rem;
		overflow: hidden;
		font-size: .625rem;
		font-weight: 100;
		font-family: "Graphik";
		color: rgb(221, 222, 228);
	}
	
	.nav0-footer svg {
	
		flex: 1 0 auto;
		width: 6.625rem;
		height: 1rem;
	
	}
	
	.nav0-icons .btn {
		border: 2px solid #fff9f92b;
		padding: .5rem;
		border-radius: 100%;
		width: 2rem
	} */
	
	}
	/* HIDDEN MENU */
	.nav0-label-close {
		position: static;
		margin: 0 0;
		padding: 0 0;
		background-color: inherit;
		border: transparent;
		color: black;
	}
		
	
	.nav0-feature {
		display: none;
	}
	
	input[type=checkbox]:checked+.nav0-feature {
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: 100;
		overflow-y: scroll;
	}
	
	.nav0-feature::-webkit-scrollbar {
		display: none;
	}
	
	input[type="checkbox"]:not(:checked)+.nav0-feature {
		display: none;
	}
	
	.nav0-close-button {
		position: relative;
	
		border-radius: 99%;
		background-color: #d32531;
		margin-left: 20px;
		margin-bottom: .65rem;
		width: 3.125rem;
		height: 3.125rem;
		border: transparent;
	
	}
	
	.nav0-close-button:after,
	.nav0-close-button:before {
		content: "";
		position: absolute;
		top: calc(50% - 1px);
		left: .6875rem;
		width: 1.8125rem;
		height: .125rem;
		transform: rotate(45deg);
		transition: transform .6s cubic-bezier(0, 0, .2, 1);
		background-color: #fff;
	
	}
	
	
	.nav0-close-button:after {
		transform: rotate(-45deg)
	}
	
	.nav0-close-button:focus:after,
	.nav0-close-button:focus:before,
	.nav0-close-button:hover:after,
	.nav0-close-button:hover:before {
		transform: rotate(1turn)
	}
	
	.nav0-nav button label[for="list-item"] {
		background-color: transparent;
		position: absolute;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		left: 1px;
		bottom: 1px;
		display: block;
		border: none;
	}
	/*----------------------------------------------*/
	/* MOBILE */
	@media screen and (max-width:959px){
	
		/* HIDDEN  */
		.nav0-close-button,
		.nav0-grid-bottom-side,
		.nav0-footer ul {
			display: none
		}
		input[type=checkbox]:checked+.nav0-feature {
			display: block;
			position: fixed;
			top: 0;
			bottom: 0;
			z-index: 100;
			overflow-y: scroll;
		}
		
		.nav0-feature::-webkit-scrollbar {
			display: none;
		}
		/*----------------------------------------------*/
		.nav0-feature {
			min-height: 100vh;
			width: 100vw;
			background-color: black;
			font-family: "GraphikBold";
			line-height: 24px;
		}
	
		.nav0-wrapper {
			
			min-height: inherit;
			width: 100vw;
			max-width: none;
			margin: 0;
			padding: 0;
		}
	
		/* NAV */
		.nav0-nav * label {
			width: 100%;
			height: inherit;
		}
	
		.nav0-nav {
			display: flex;
			flex-flow: column nowrap;
		}
	
		.nav0-media-query {
			width: 100vw;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding: .5rem;
			background-color: #fff;
			overflow: hidden;
			height: 51px;
			
	
		}
	
		.nav0-media-query button>label[for="list-item"] {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 3%;
			width: 2.8rem;
			height: 2.8rem;
			background-color: transparent;
			border: transparent;
			border-radius: 100%;
		}
	
		.nav0-nav-logo-div {
			height: 100%;
			min-width: fit-content;
			
	
	
	
		}
	
		.nav0-nav-logo {
			display: block;
			width: 11.125rem;
			fill: #d32531;
			height: 2rem;
			top: 1px;
			margin: auto;
			
		}
	
	
	
		.nav0-nav-subscribe {
			display: block;
			font-family: GraphikBold;
			letter-spacing: -.0285em;
			color: black;
			flex-shrink: 2;
			font-size: .75rem;
			
		}
	
		.nav0-search-and-login-div {
			display: flex;
			flex-flow: column nowrap;
			min-width: 100vw;
			border-bottom: 1px solid #303030;
		}
	
		.nav0-nav-search {
			width: 100%;
			height: 2.75rem; 
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: stretch;
		}
		.nav0-nav-search>form {
			height: inherit;
		}
		.nav0-nav-search form label {
			padding: 0;
			width: 100%;
			height: 100%;
			position: relative;
		}
		.nav0-nav-search>form,
		.nav0-nav-search>form input:nth-child(2) {
			padding-right: .625rem;
			padding-top: .125rem;
			width: 100%;
			height: 100%;
			border: none;
			border-radius: 0;
			background-color: inherit;
			
		}
		input[data-search="search"] {
			padding-left: 3rem;
			padding-top: .125rem;
			width: 100vw;
			height: 100%;
			background-color: #181818;
			border: none;
			border-radius: 0;
			color: #fff;
			outline: none;
	
		}
		form .nav0-nav-label-search-icon {
			padding: 0;
			width: 100%;
			height: 100%;
			position: relative
		}
	
		form .nav0-nav-label-search-icon:before {
			content: "";
			position: absolute;
			left: 15px;
			top: 0;
			bottom: 0;
			width: 20px;
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center/contain no-repeat
		}
	
		
		
	
		.nav0-login {
			display: block;
			background: #d32531;
			padding: .3125rem 1.25rem;
			border-radius: .125rem;
			align-self: flex-start;
			margin: .5rem;
			
	
		}
	
		.nav0-login a {
			color: #fff;
			text-decoration: none;
			font-size: .75rem;
			text-transform: uppercase;
	
		}
	
		.nav0-close-button-media-query {
		
		position: relative;
		margin-top: 1%;
		border-radius: 99%;
		background-color: #d32531;
		margin-bottom: .65rem;
		min-width: 24px;
		height: 24px;
		border: transparent;
		}
		.nav0-close-button-media-query:after,
		.nav0-close-button-media-query:before {
		content: "";
		position: absolute;
		top: calc(50% - 1px);
		left: .21rem;
		width: 1.1rem;
		height: .06rem;
		transform: rotate(45deg);
		transition: transform .6s cubic-bezier(0, 0, .2, 1);
		background-color: #fff;
	
	}
	
	
	.nav0-close-button-media-query:after {
		transform: rotate(-45deg)
	}
	
	.nav0-close-button-media-query:focus:after,
	.nav0-close-button-media-query:focus:before,
	.nav0-close-button-media-query:hover:after,
	.nav0-close-button-media-query:hover:before {
		transform: rotate(1turn)
	}
	
		/*----------------------------------------------*/
		/* HACKBOX  */
	
		.nav0-grid {
			padding-bottom: 2.5rem;
			margin-top: 0;
		}
	.nav0-grid-dropdown {
		padding-top: .4rem;
	}
		.nav0-grid-dropdown>a {
			display: none
		}
	
		.nav0-grid-dropdown ul li a {
			color: #000;
			margin: 0;
			padding: 0;
			text-decoration: none;
		}
	
		.nav0-grid-dropdown-label-a>a,
		.nav0-section-socials-subscribe ul li a {
			color: #fff;
			text-decoration: none;
		}
	
		.nav0-section-grid * label {
			display: block;
			cursor: pointer;
			padding: 10px;
			border-bottom: 1px solid #303030;
			width: inherit;
			margin: 0 auto;
			overflow: hidden;
		}
	
		input[type=checkbox]:checked,
		.nav0-grid-dropdown+.nav0-grid-dropdown {
			background-color: black;
		}
	
		.nav0-grid-dropdown li {
			padding-left: 2.1875rem;
			padding-top: .8125rem;
			padding-bottom: 1rem;
			background-color: #fff;
			border: 1px solid #3030302b;
			border-collapse: collapse;
			width: inherit;
			font-weight: bolder;
		}
	
		input[type=checkbox]:not(:checked)~ul li {
			height: 0;
		}
	
		input[type=checkbox] {
			position: absolute;
			left: -9999px
		}
	
		input[type=checkbox]~ul {
			height: 0;
			transform: scaleY(0)
		}
	
	
		input[type=checkbox]:checked~ul {
			height: 100%;
			transform-origin: top;
			transition: transform .2s ease-out;
			transform: scaleY(1);
			background-color: #fff;
		}
	
		input[type=checkbox]:checked+label {
			background: #d32531;
			transition: .3s;
			margin-top: -7px;
			width: inherit;
		}
	
		/*----------------------------------------------*/
		/* SOCIAL SECTION */
		.nav0-section-socials {
	
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: center;
			width: 100vw;
			white-space: nowrap;
			padding: .9375rem;
			color: white;
		}
	
		.nav0-container-socials-icon {
			width: 100vw;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column nowrap;
	
		}
	
		.nav0-container-socials-icon-p {
			margin: 0;
			font-size: 1.25rem;
			font-weight: bolder;
			
		}
	
		.nav0-social-icons {
			display: flex;
			align-items: flex-start;
	
		}
	
		.nav0-social-icons .icons {
			border: 1px solid #fff9f92b;
			border-radius: 100%;
			width: 2.375rem;
			height: 2.375rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	
		/*----------------------------------------------*/
		/* SUBSCRIBE SECTION */
		.nav0-section-socials-subscribe {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: flex-start;
		}
	
	
	.nav0-section-socials-subscribe p {
		font-size: 1.25rem;
		font-weight: bolder;
		margin-bottom: .1rem;
	}
	
	.nav0-section-socials-subscribe ul {
		display: block;
		display: flex;
		flex-flow: row wrap;
		margin-top: 1rem;
		width: ;
	
	}
	
	.nav0-section-socials-subscribe ul li {
		color: #fff;
		list-style-type: none;
		font-size: .7rem;
		margin: .3rem;
		text-transform: uppercase
	}
	
	
	
	
	.nav0-section-socials-subscribe form div {
		display: block;
		display: flex;
		flex-flow: row nowrap;
		border-radius: 5px;
		height: 2.5rem;
		box-shadow: inset 0 .1875rem .375rem 0 rgba(0, 0, 0, .5);
		margin-left: -10px;
		max-width: 100vw;
		width: 19rem;
	}
	
	input[data-mail="Youremail"] {
		display: block;
		margin-left: 1rem;
		padding-left: .8125rem;
		padding-right: .625rem;
		
		line-height: 1.5px;
		font-weight: 700;
		outline: none;
		overflow: hidden;
		border: none;
		border-radius: 7px 0 0 7px;
	}
	
	#sign-up-btn {
		display: inline-block;
		margin: 0;
		border-radius: 0 .3125rem .3125rem 0;
		color: #fff;
		border: none;
		background-color: #d32531;
		padding: 0 1.25rem;
		font-size: .75rem;
		letter-spacing: .01em;
		text-transform: uppercase;
		font-weight: 700;
	}
	
	/*----------------------------------------------*/
	/* FOOTER */
	
	
	.nav0-footer {
		display: flex;
		margin: 0 auto;
		width: 100%;
		align-items: center;
		justify-content: center;
		flex-shrink: 1;
		background-color: black;
		overflow: hidden;
	}
	
	.nav0-footer p {
		flex: 2 1 auto;
		overflow: hidden;
		white-space: nowrap;
		font-size: .625rem;
		margin-left: auto;
		text-align: center;
		line-height: 1.5rem;
		color: #fff;
	}
	
	.nav0-footer svg {
		flex: 1 0 auto;
		display: block;
		width: 6.625rem;
		fill: #d32531;
		height: 1rem;
		top: 1px;
		margin-right: 1rem;
	}
	
	.nav0-footer-pmc-logo-div {
		display: block;
		height: 100%;
		min-width: fit-content;
	
	
	}
	}
	/*----------------------------------------------*/
/*Ric R Css*/
h2 {letter-spacing:-.5px;font-size:var(--rs-h3-medium);font-weight:var(--rs-font-weight);}

.main2-mega-container {position: relative;width: 100%}

.main2-container {max-width:var(--rs-max-width);padding-top:25px;margin:0 auto 35px;overflow:hidden;display:flex;}
.main2-container:first-of-type:before {content:"";position:absolute;width:100%;height:65px;top:0;left:0;background-color:var(--rs-color);z-index:-1;}
.main2-col:not(.main2-col:last-of-type) {margin-right:2.5%;}
.main2-container .main2-col {flex:1;}
.main2-container .main2-col:nth-of-type(2) {flex:2;text-align:center;}
.main2-col > h2 {color:white;padding-bottom:25px;}

.main2-latest {padding:12px 0;}
.main2-latest:not(.main2-latest:last-of-type) {border-bottom:1px solid lightGrey;}
.main2-latest h4, .main2-latest h3 {padding-bottom:10px;}
.main2-latest h3 {font-size:1rem;}
.main2-latest h4 a, .main2-main h4 a, .main2-secondary h4 a {border-bottom:2px solid var(--rs-color);font-size:var(--rs-p-size);}
.main2-latest p {font-size:calc(var(--rs-p-size) - 10%);}

.main2-more {color:var(--rs-color); text-decoration:underline;font-weight:bold;}
.main2-more:hover {text-decoration:none;}

.main2-main h4 {padding:15px 0 17px}
.main2-main p {font-size:var(--rs-h3-small);margin-top:15px;}
.main2-main img {max-width:500px;}

.main2-secondary {max-width:280px;margin-bottom:40px;}
.main2-secondary h4 {padding:9px 0 12px}
.main2-secondary img {max-width:100%;}

.main2-trending {display:flex;justify-content:safe center;align-items:center;padding:12px 0;}
.main2-trending:not(.main2-trending:last-of-type) {border-bottom:1px solid lightGrey;}
.main2-trending p {height:20px;color:var(--rs-color);border:1px solid var(--rs-color);border-radius:50%;
	margin-right:10px;flex:25%;font-size:12px;font-weight:bold;text-align:center;padding-top:3px;}

.main2-container:not(.main2-container:first-of-type) a, .main2-container:not(.main2-container:first-of-type) h3,
.main2-container:not(.main2-container:first-of-type) h4, .main2-container:not(.main2-container:first-of-type) p {color:white;} 

.main2-container:nth-of-type(2) {position:relative;padding:0.8%;background-color:#f1f1f1;}
.main2-features {flex:1;overflow:hidden; position:relative;text-align:center;}
.main2-features:not(.main2-features:last-of-type) {margin-right:1.2%;}
.main2-features:first-of-type {flex:30%;text-align:left;}
.main2-features-cat {padding:13px;width:100px;height:45px; color:white;background-color:var(--rs-color);font-size:var(--rs-h3-small);
	position:absolute;top:0;left:45px;text-align:center;z-index:1;}
.main2-features-cat:hover {background-color:white;color:var(--rs-color);border:var(--rs-color) solid 2px;line-height:0.9}
.main2-features img {max-width:100%;min-width:441px;position:relative;left:50%;top:50%;transform:translate(-50%,-50%);}
.main2-features-meta {position:absolute;left:0;bottom:0;padding:1.875rem;background:rgb(0,0,0);
background:linear-gradient(0deg, rgba(0,0,0,0.6) 28%, rgba(255,255,255,0) 84%);} 

.main2-container:last-of-type {background-color:var(--rs-color-blue);padding:1%;color:white;flex-direction:column;border-radius:6px;}
.main2-container-header {display:flex;align-items:center;padding-bottom:15px}
.main2-container-header img {padding:0 20px}
.main2-view-all {text-decoration:underline;font-weight:bold;}
.main2-reports-container {display:flex;justify-content:space-between;}
.main2-report, .main2-report img {max-width:225px}
.main2-report img {padding-bottom:8px;}

@media only screen and (max-width:959px) {
	.main2-container {flex-wrap:wrap;max-width:100%;}
	.main2-col:not(.main2-col:last-of-type) {margin-right:0;}
	.main2-col {padding:2%;}

	.main2-col:first-of-type {flex-basis:100%;order:3}
	.main2-col:first-of-type h2 {color:var(--rs-color);padding:25px 0 5px;}

	.main2-col:nth-of-type(2) {order:1}
	.main2-main img {max-width:640px;}

	.main2-col:nth-of-type(3) {order:2}

	.main2-col:last-of-type {flex-basis:100%;order:4}
	.main2-col:last-of-type h2 {color:white; background-color:var(--rs-color);padding:2%;margin-bottom:5px;}
	.main2-trending p {flex:2%;height:22px;padding-top:4px;}
	.main2-trending h4 {flex:96%;}

	.main2-container:nth-of-type(2) {width:118%;}
	.main2-features:first-of-type {flex:38%;}

	.main2-reports-container {flex-wrap:wrap;}
	.main2-report {padding:1.5%;}

	.main2-features:first-of-type img {zoom: 1.33;}
	.main2-features-meta {width: 100%;}
}
@media only screen and (max-width:819px) {
	.main2-col:nth-of-type(3) {display:flex;justify-content:space-around;}

	.main2-container:last-of-type {padding:2%}
	.main2-container-header {padding-bottom:0;}
	.main2-container-header h3 {flex:0;}
	.main2-container-header img {flex:1;}
	.main2-report {flex:50%;}
	.main2-report, .main2-report img {max-width:100%}
	.main2-report:last-of-type {text-align:center;}

}

@media only screen and (max-width:768px) {
	.main2-container {padding-top:5px;}
	.main2-main {padding-bottom:20px;border-bottom:solid lightGrey 2px;}

	.main2-container:nth-of-type(2) {width:100%;padding:2%;}
	.main2-features:first-of-type {flex:100%;margin-bottom:20px;margin-right:0 !important;}
}

@media only screen and (max-width:650px) {
	.main2-trending p {display: none;}
	.main2-col:last-of-type h2 {margin-top: 25px}

	.main2-container .main2-col:nth-of-type(2) {flex: 100%;}
	.main2-main img {max-width:350px;}

	.main2-secondary {max-width: 50%;margin-bottom: 0;padding: 2%}

	.main2-features:first-of-type {padding: 0;}
	.main2-features {margin-bottom: 20px;flex: 100%;}

	.main2-container:last-of-type {padding:3%;}
	.main2-container:last-of-type .main2-container-header {justify-content: space-between;}
	.main2-container:last-of-type .main2-container-header img {display: none;}
}

@media only screen and (max-width:360px) {
	.main2-main img {max-width: 300px;}
}
/*Fine Ric R Css*/
/* Inizio Feature/Music03 - Matteo */

.music-box {
    font-family: var(--rs-font);
    width: var(--rs-max-width);
    margin: 0 auto;
    overflow: hidden;
}
/* stile del titolo della sezione */

header {
    border-top: var(--rs-red-border-width) solid var(--rs-color);
}

.title-section {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#title {
    font-size: var(--rs-h3-big);
    font-weight: bolder;
}

#all-news {
    display: block;
    text-decoration: none;
    color: var(--rs-color);
    padding: 15px 20px;
    font-size: small;
    font-weight: bolder;
}

.title-section li {
    float: left;
}

.title-section li:last-child {
    float: right;
}

.title-section li:last-child a {
    display: block;
    border: 1px solid gray;
    text-decoration: none;
    color: gray;
    padding: 5px 3px;
    border-radius: 5px;
    font-size: smaller;
    margin-top: 5px;
}



/* stile della sezione con gli articoli */
.news-group {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    gap: 5px 5px;
    grid-template-areas:
        "news-preview1 news-preview2 . ."
        "news-preview3 news-preview4 news-preview5 list-box";
    overflow: hidden;
}

.news-img {
    width: 100%;
}

.news-preview1 {
    grid-area: news-preview1;
    padding: 10px 10px;
    border-right: 1px solid rgba(185, 179, 179, 0.651);
}

.news-preview2 {
    grid-area: news-preview2;
    padding: 10px 10px;
}

.news-preview3 {
    grid-area: news-preview3;
    padding: 10px 10px;
    border-right: 1px solid rgba(185, 179, 179, 0.651)
}

.news-preview4 {
    grid-area: news-preview4;
    padding: 10px 10px;
    border-right: 1px solid rgba(185, 179, 179, 0.651);
}

.news-preview5 {
    grid-area: news-preview5;
    padding: 10px 10px;
}


.news-section {
    text-decoration: underline;
    text-decoration-color: var(--rs-color);
    font-weight: var(--rs-font-weight);
    font-size: smaller;
    margin: 5px 0px;
    color: #000;
    font-family: var(--rs-font);

}

.news-title {
    padding: 5px 0px;
    font-size: var(--rs-h3-small);
    font-weight: 700;
    font-family: var(--rs-font);
}

.news-text {
    padding: 5px 0px;
    font-size: var(--rs-p-size);
    font-family: var(--rs-font);
}

.news-author {
    padding: 5px 0px;
    font-size: var(--rs-p-size);
    font-family: var(--rs-font);
}

.list-box {
    display: block;
    align-self: center;
    grid-area: list-box;
    overflow: visible;
}

#link-list-766px {
    display: none;
}



/* stile del area delle recenzione degli album */

.album-title {
    padding: 5px;
    margin: 15px 15px;
    border: var(--rs-red-border-width) solid var(--rs-color);
    width: max-content;
    font-size: var(--rs-h3-small);
    font-weight: bolder;
}

#red-title {
    color: var(--rs-color);
}

.album-review {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: space-between;
    background-color: #f4f4f7;
    text-align: center;

}


.album-review-box1,
.album-review-box2,
.album-review-box3,
.album-review-box4 {
    width: 25%;
    padding: 15px 15px;

}

.artist-name,
.album-name {
    font-size: var(--rs-p-size);
    font-family: var(--rs-font);
    margin-top: 10px;
    font-family: var(--rs-font)
}

.album-text {
    text-align: center;
    margin: 10px 25%;
    font-family: var(--rs-font);
    font-size: var(--rs-p-size);
}

.link-review a {
    display: block;
    text-decoration: none;
    color: var(--rs-color);
    font-size: x-small;
    font-weight: bolder;
    margin-top: 10px;
    justify-self: end;
    font-family: var(--rs-font)
}



@media only screen and (max-width: 766px) {
    .music-box {
        width: auto;
    }

    .news-group {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 30% repeat(2, 25%) 20%;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "news-preview1 news-preview1"
            "news-preview2 news-preview3"
            "news-preview4 news-preview5"
            "list-box list-box";

    }

    .news-preview1 {
        grid-area: news-preview1;
    }

    .news-preview1 img {
        width: 75%;
        margin: 0;
        padding: auto;
    }

    .news-text {
        display: none;
    }

    .news-preview2 {
        grid-area: news-preview2;
        padding-top: 50px;
    }

    .news-preview3 {
        grid-area: news-preview3;
        padding-top: 50px;
    }

    .news-preview4 {
        grid-area: news-preview4;
        padding-top: 50px;
    }

    .news-preview5 {
        grid-area: news-preview5;
        padding-top: 50px;
    }

    .list-box {
        grid-area: list-box;
        padding-top: 50px;
    }

    .album-review {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: normal;
        align-content: space-between;
        background-color: #f4f4f7;
        text-align: center;
        width: 100%;
    }

    .album-text {
        height: max-content;
    }

    #link-list {
        display: none;
    }

    #link-list-766px {
        display: block;
        width: 100%;
        margin: 0;
        padding-left: 25%;
    }

    .album-review article{
        flex: 50%;
    }

}

@media screen and (min-width: 767px) and (max-width: 1259px) {
    .music-box {
        width: auto;
    }

    .news-group {
        display: grid;
        grid-template-columns: repeat(2, 30%) 40%;
        grid-template-rows: repeat(3, 1fr);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "news-preview1 news-preview2 ."
            ". news-preview3 ."
            "news-preview4 news-preview5 list-box";
    }

    .news-preview1 {
        grid-area: news-preview1;
    }

    .news-preview2 {
        grid-area: news-preview2;
    }

    .news-preview3 {
        grid-area: news-preview3;
    }

    .news-preview4 {
        grid-area: news-preview4;
    }

    .news-preview5 {
        grid-area: news-preview5;
    }

    .list-box {
        align-self: end;
        grid-area: list-box;
    }

    .album-review {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: normal;
        align-content: space-between;
        background-color: #f4f4f7;
        text-align: center;
    }


    .album-review article{
        flex: 50%;
    }

    #link-list-766px {
        display: none;
    }

}
/* Fine Feature/Music03 - Matteo */
/*VIDEOGALLERY MARCO*/

.container-videogallery {
    background-color: var(--rs-color-blue);
    margin: 0 auto;
    width: 1260px;
    height: 712px;
    max-width: var(--rs-max-width);
    border-top: var(--rs-red-border-width) solid var(--rs-color);
    display: flex;
    flex-direction: column;
    color: white;
}

.c-videogallery-main {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(154, 152, 152, 0.21);
    padding-bottom: 15px;
}

.c-video-content {
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 371px;
}

.video-header {
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    font-size: var(--rs-h3-small);
}

.video-header h1 {
    font-weight: bold;
}

.video-header > h6 > a {
    color: var(--rs-color);
    padding-left: 12px;
    display: block;
    padding-top: 10px;
}

.video-text {
    padding-top: 40px;
    padding-left: 25px;
}

.video-text h5 {
    text-decoration: underline solid var(--rs-color) 2px;
    font-size: 12px;
    padding-left: 5px;
    font-weight: bold;
}

.video-text > h3 > a {
    font-size: 36px;
    color: white;
    font-weight: bold;
}

.video-text > p {
    font-size: 18px;
    padding-top: 18px;
    padding-left: 4px;
    font-weight: bold;
}

.c-video-frame {
    padding-top: 30px;
    padding-left: 14px;
}

.c-video-frame iframe {
    border: 1px solid var(--rs-color);
}

.c-videogallery-slideshow {
    padding: 14px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    overflow: hidden;
}

.c-videogallery-slideshow h3 {
    font-size:14px;
    color: white;
    margin: 5px;
}

.video-item {
    height: 200px;
    padding-top: 8px;
}

.video-item img:hover:not(.video-active) {
    border: 1px solid white;
    transition-duration: 0.2s;
}

.video-active, .video-active:hover {
    outline: 2px solid var(--rs-color);
    opacity: 0.4;
}

.now-playing {
    position: relative;
}

.now-playing h1 {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 60px;
    left: 75px;
    border: 2px solid var(--rs-color);
    padding: 5px 8px 1px;
}

/*PHOTOGALLERY MARCO*/

.container-photogallery {
    margin: 0 auto;
    width: 1260px;
    height: 712px;
    max-width: var(--rs-max-width);
    border-top: var(--rs-red-border-width) solid var(--rs-color);
    display: flex;
    flex-direction: column;
}

.photogallery-header{
    font-weight:500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 61.5px;
}

.photogallery-header-title {
    display: flex;
    flex-direction: row;
}

.photogallery-header-title > h6 > a {
    font-size: 12px;
    color: var(--rs-color);
    padding-left: 12px;
    display: block;
    padding-top: 18px;
    font-weight: bolder;
}

.photogallery-header-title > h6 {
    font-weight: bold;
}

.photogallery-header-title > h1 {
    font-weight: var(--rs-font-weight);
    font-size:38px;
}


.photogallery-header > h6 > a {
    color: rgba(113, 113, 113, 0.727);
    font-size: 12px;
    border: 2px solid rgba(113, 113, 113, 0.536);
    border-radius: 10px;
    margin-right: 20px;
    padding: 4px 8px;
    height: 14px;
    font-weight: bold;
    background-color:rgba(131, 130, 130, 0.216);
}

.photogallery-header > h6 > a:hover {
    color: rgb(106, 106, 106);
    border: 2px solid rgb(156, 156, 156);
    background-color:rgba(108, 107, 107, 0.274);
}

.c-photogallery-slideshow {
    overflow: hidden;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

.slideshow-photoframe-1, .slideshow-photoframe-2 {
    position: relative;
}

.slideshow-photoframe-1 > a > img:hover, .slideshow-photoframe-2 > a > img:hover {
    border: 4px solid var(--rs-color);
    transition-duration: 0.2s;
}

.photo-icon-1, .photo-icon-2 {
    color: white;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 26px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.679);
    padding: 8px;
    border-radius: 8px;
}

.photo-icon-1 span, .photo-icon-2 span {
    padding: 0 4px;
}

.photo-text-1, .photo-text-2 {
    color: white;
    font-weight: bolder;
    width: 550px;
    position: absolute;
    bottom: 75px;
    left: 18px;
    text-shadow: 4px 4px 8px #000000, 4px 4px 8px #000000, 4px 4px 8px #000000;
}

.photo-text-1 h3, .photo-text-2 h3 {
    font-size: 34px;
    font-weight: 90px;
}

.photo-text-1 p, .photo-text-2 p {
    font-size: 19px;
    font-weight: 4px;
}

.mini-photo-box {
    position: relative;
    bottom: 100px;
    left: 565px;
    width: 200px; 
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.mini-photo-box img:hover {
    border: 2px solid white;
    transition-duration: 0.2s;
}

.iframe-resp {
    display: none;
}

.photo-responsive {
    display: none;
}

/*RESPONSIVE MARCO*/

@media only screen and (max-width: 768px) {

    /*VIDEOGALLERY RESPONSIVE MARCO*/
    .container-videogallery {
    background-color: var(--rs-color-blue);
    margin: 0 auto;
    width: 728px;
    height: 832px;
    max-width: 768;
    border-top: var(--rs-red-border-width) solid var(--rs-color);
    display: flex;
    flex-direction: column;
    color: white;
    }

    .c-videogallery-main {
        display: flex;
        flex-direction: column;
        height: 600px;
    }

    .c-video-content {
        height: 150px;
    }

    .video-text {
        width: 728px;
        max-height: 80px;
    }

    .video-text p {
        display: none;
    }

    .video-text > h5 {
        display: none;
    }

    .iframe-normal {
        display: none;
    }

    .iframe-resp {
        display: block;
    } 

    .video-header {
        height: 40%;
    }

    .video-header h1 {
        font-size: 52px;
    }

    .video-header h6 {
        padding-top: 20px;
    }

    /*PHOTOGALLERY RESPONSIVE MARCO*/

    .container-photogallery {
    margin: 0 auto;
    width: 728px;
    height: 580px;
    max-width: 768;
    border-top: var(--rs-red-border-width) solid var(--rs-color);
    display: flex;
    flex-direction: column;
    }

    .photogallery-header {
    font-weight:400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    }

    .c-photogallery-slideshow {
        height: 600px;
    }

    .photo-normal {
        display:none;
    }

    .photo-responsive {
        display: block;
    }

    .photo-text-1, .photo-text-2 {
    color: black;
    font-weight: bolder;
    width: 400px;
    position: absolute;
    top: 285px;
    left: 2px;
    text-shadow: none;
    }

    .photo-text-1 h3, .photo-text-2 h3 {
        font-size: 28px;
        font-weight: 200px;
    }

    .photo-text-1 p, .photo-text-2 p {
        font-size: 14px;
        font-weight: 10px;
    }

    .slideshow-photoframe-1 {
        border-bottom: 3px solid rgb(98, 98, 98);
    }

}
/*Fine Marco css*/
/*Inizio Davide footer*/
footer {
  margin-top: 40px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--rs-font);
}
.footer-redtitlebar {
  display: flex;
  margin-left: -30px;
}
.footer-content-by-text {
  margin-top: 25px;
  color: #d32531;
  font-size: 18px;
  padding: 5px 5px 5px 5px;
  font-weight: bolder;
  margin-left: 4px;
}
.footer-rs-culture-council-text {
  background-color: #d32531;
  color: white;
  margin-left: 10px;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 23px;
  font-weight: bolder;
  font-size: 16px;
}
.footer-whats-this-text {
  color: gray;
  text-decoration: underline;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom:1px;
}
.footer-rs-culture-hr {
  margin-top: -20px;
  color: #d32531;
  border: 2px solid #d32531;
  margin-left: -25px;
  width: 100%;
}
.footer-rs-culture-images-size {
  width: 300px;
  height: 210px;
}
.footer-rs-culture-newsbar {
  display: flex;
  background-color: #f4f4f7;
  width: 100%;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 45px;
  margin-left: -25px;
  margin-top: -8px;
  margin-bottom: 100px;
}
.footer-rs-culture-news {
  display: flex;
  flex-direction: column;
  width: 290px;
  font-size: 18.5px;
  font-weight: bolder;
  margin-right: 40px;
}
.footer-rs-culture-newstitles {
  padding-bottom: 10px;
}
.footer-rs-culture-readmore {
  display: flex;
  justify-content: left;
  color: #b41923;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.footer-rs-culture-readmore-latest {
  display: flex;
  justify-content: left;
  color: #b41923;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
}
.footer-newswire-hr {
  margin-top: -20px;
  color: #d32531;
  border: 2px solid #d32531;
  margin-left: -25px;
  width: 100%;
}
.footer-newswire-titlebar {
  display: flex;
}
.footer-newswire-title {
  font-size: 50px;
  margin-left: -28px;
  margin-top: -5px;
}
.footer-newswire-logopmc {
  width: 120px;
  height: 50px;
  margin-left: 75.1%;
  margin-top: -7px;
}
.footer-newswire-newsbar {
  display: flex;
  padding-left: 22px;
  padding-bottom: 45px;
  margin-left: -46px;
  margin-top: -50px;
}
.footer-newswire-news {
  display: flex;
  flex-direction: column;
  width: 290px;
  font-size: 18px;
  font-weight: bolder;
  margin-right: -16px;
}
.footer-newswire-images-size {
  margin-top: 30px;
  width: 250px;
  height: 145px;
}
.footer-newswire-categories {
  display: flex;
  color: #b41923;
  font-size: 14px;
}
.footer-newswire-newstitles {
  margin-top: -1px;
  width: 250px;
  font-size: 20px;
  font-weight: bold;
}
.footer-endarea {
  background-color:black;
  width:159%;
  height:408px;
  margin-left:-38.4%;
}
.footer-endarea-content {
  margin-left:20.7%;
}
.footer-endarea-image-size-position {
  padding-top:22px;
  padding-bottom:21px;
  margin-left:47px;
}
.footer-endarea-categories-content {
  margin-top:-400px;
  margin-left:330px;
  display:flex;
  flex-direction:column;
  width:390px;
  height:210px;
}
.footer-endarea-categories-title {
  padding-top:12px;
  margin-top:1px;
  margin-left:38px;
  color:white;
  font-weight:bold;
}
.footer-endarea-categories-left {
  margin-top:-5px;
}
.footer-endarea-categories-right {
  margin-top:-160.4px;
  margin-left:160px;
}
.footer-endarea-categories-links {
  text-decoration:none;
  color:white;
  font-weight:bold;
  margin-bottom:9px;
  list-style:none;
  width:300px;
}
.footer-endarea-legal-content {
  margin-top:-200px;
  margin-left:680px;
  display:flex;
  flex-direction:column;
  border-left:1.3px solid #6f6f6f;
  border-right:1.3px solid #6f6f6f;
  width:280px;
  height:195px;
}
.footer-endarea-legal-title {
  margin-top:3px;
  margin-left:40px;
  color:white;
  margin-bottom:11px;
}
.footer-endarea-legal-links {
  text-decoration:none;
  color:white;
  font-weight:bold;
  margin-bottom:9px;
  list-style:none;
  width:300px;
}
.footer-endarea-connectwithus-content {
  margin-top:-200px;
  margin-left:950px;
  border-right:1.3px solid #6f6f6f;
  width:240px;
  height:200px;
}
.footer-endarea-connectwithus-title {
  margin-top:8px;
  margin-left:40px;
  color:white;
}
.footer-endarea-connectwithus {
  margin-top:-10px;
}
.footer-endarea-connectwithus-icons {
  padding-top:4px;
}
.footer-endarea-connectwithus-list {
  margin-bottom:13px;
}
.footer-endarea-connectwithus-links {
  position:relative;
  text-decoration:none;
  color:white;
  font-weight:bold;
  list-style:none;
  width:300px;
  margin-left:32px;
  top:-97px;
}
.footer-endarea-newsletter {
  display:flex;
  margin-top:8px;
  margin-left:21.6%;
  border-top:1.3px solid #6f6f6f;
  border-bottom:1.3px solid #6f6f6f;
  width:1040px;
}
.footer-endarea-newsletter-title {
  color:white;
  font-weight:bolder;
}
.footer-endarea-newsletter-input {
  margin-left:80px;
  margin-top:17px;
  width:470px;
  height:45px;
  padding-left:20px;
  font-size:16px;
  font-weight:bold;
}
.footer-endarea-newsletter-submit {
  margin-left:22px;
  margin-top:16px;
  width:170px;
  height:45px;
  background-color:black;
  color:white;
  font-size:16px;
  font-weight:bold;
  border:1px gray solid;

}
.footer-endarea-tiparea {
  display:flex;
  margin-left:366px;
}
.footer-endarea-tiparea-title {
  margin-top:28px;
  margin-right:25px;
  color:white;
  font-weight:bolder;
  font-size:34px;
}
.footer-endarea-tiparea-paragraph {
  margin-top:30px;
  color:white;
  font-style:italic;
}
.footer-endarea-tiparea-submit {
  margin-left:70px;
  margin-top:20px;
  width:197px;
  height:45px;
  background-color:black;
  color:white;
  font-size:16px;
  font-weight:bold;
  border:1px gray solid;
}
.footer-endarea-rollingstonetext {
  position:relative;
  left:72.4%;
  top:-72px;
}
.footer-copyrightarea {
  margin-top:8px;
  display:flex;
}
.footer-copyrightarea-pmclogo {
  margin-left:10%;
  width:180px;
  height:60px;
}
.footer-copyrightarea-paragraph {
  margin-top:12px;
  margin-left:20px;
  color:gray;
}
.footer-copyrightarea-fake-js-button {
  margin-left:26%;
  width:214px;
  height:43px;
}
@media screen and (max-width: 768px) {
.footer-redtitlebar {
  display: flex;
  flex-direction:column;
  padding-left: 20px;
}
.footer-rs-culture-council-text {
  margin-left: -1px;
  margin-top:-20px;
  margin-bottom:-20px;
  padding-bottom:4px;
}
.footer-rs-culture-newsbar {
  display: flex;
  flex-direction:column;
  padding-left: 78px;
}
.footer-newswire-titlebar {
  margin-left:20px;
}
.footer-newswire-title {
  font-size: 50px;
  margin-left: -28px;
  margin-top: -5px;
}
.footer-newswire-logopmc {
  width: 120px;
  height: 50px;
  margin-top: -7px;
  margin-left:80px;
}
.footer-newswire-newsbar {
  display: flex;
  flex-direction:column;
  padding-left: 22px;
  padding-bottom: 45px;
  margin-left: 50px;
  margin-top: -15px;
}
.footer-endarea {
  height:1700px;
}
.footer-endarea-image-size-position {
  padding-left:75px;
}
.footer-endarea-categories-content {
  margin-top:-10px;
  margin-left:130px;
}
.footer-endarea-categories-right {
  margin-top:-10.4px;
  margin-left:0px;
}
.footer-endarea-legal-content {
  margin-top:150px;
  margin-left:160px;
  display:flex;
  flex-direction:column;
  border-top:1.3px solid #6f6f6f;
  border-left:0px solid #6f6f6f;
  border-right:0px solid #6f6f6f;
  width:190px;
  height:195px;
  border-bottom:1.3px solid #6f6f6f;
}
.footer-endarea-legal-title {
  margin-top:16px;
  margin-left:10px;
}
.footer-endarea-legal-links {
  margin-top:-3px;
  margin-left:-15px;
}
.footer-endarea-connectwithus-content {
  margin-top:20px;
  margin-left:130px;
  border-right:0px solid #6f6f6f;
  }
.footer-endarea-newsletter {
  display:flex;
  flex-direction:column;
  margin-top:-11.5px;
  margin-left:3%;
  width:1040px;
}
.footer-endarea-newsletter-title {
  color:white;
  font-weight:bolder;
  margin-left:75px;
}
.footer-endarea-newsletter-input {
  margin-left:52px;
  margin-top:5px;
  width:350px;
}
.footer-endarea-newsletter-submit {
  margin-left:135px;
  margin-top:16px;
  margin-bottom:15px;
}
.footer-endarea-tiparea {
  display:flex;
  flex-direction:column;
  margin-left:0px;
}
.footer-endarea-tiparea-title {
  margin-top:28px;
  margin-left:168px;
}
.footer-endarea-tiparea-paragraph {
  margin-top:0px;
  margin-left:80px;
  color:white;
  font-style:italic;
}
.footer-endarea-tiparea-submit {
  margin-left:163px;
  margin-top:10px;
}
.footer-endarea-rollingstonetext {
  position:relative;
  left:13%;
  top:40px;
}
.footer-copyrightarea {
  margin-left:-15px;
  display:flex;
  flex-direction:column;
}
.footer-copyrightarea-pmclogo {
  margin-left:170px;
  width:100px;
  height:60px;
}
.footer-copyrightarea-fake-js-button {
  margin-left:27%;
}
}
/*Fine Davide footer*/
